<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pagina principal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

</head>

<body>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="IMG/logo.png" alt="Logo" width="40" height="40"
            class="d-inline-block align-text-top">PAGINA PRINCIPAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="PAG/carrito.html"> <img src="IMG/carrito.png"
                  alt="Logo" width="30" height="30" class="d-inline-block align-text-top"> Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PAG/perfil.html"> <img src="IMG/perfil.png" alt="Logo" width="30" height="30"
                  class="d-inline-block align-text-top"> Perfil</a>
            </li>
          </ul>
          <form class="d-flex col-8" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <div>
      <ul class="nav justify-content-center">
        <li class="nav-item mt-3 p-3">
          <a class="btn btn-outline-info aria-current=" href="PAG/categorias.html">TACONES PARA DAMAS</a>
        </li>
        <h1>NUEVOS PRODUCTOS PARA IMPONER MODA</h1>
        <li class="nav-item mt-3 p-3">
          <a class="btn btn-outline-info" href="PAG/login.html">REGISTRARSE</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid p-0" style="height: 600px;">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active row m-0">
            <img
              src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/92354cc1-b6cc-4273-b962-66e9d6bfd44a.__CR0,0,970,300_PT0_SX970_V1___.jpg"
              class="d-block w-100 p-0" alt="..." style="height: 500px;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/a070bb55-67ed-466e-b987-49b0f3f9b8ac.__CR0,0,1464,600_PT0_SX1464_V1___.jpg"
              class="d-block w-100" alt="..." style="height: 500px;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/e2f676ef-44a5-4af0-a45c-bd55c1c9be73.__CR0,0,970,600_PT0_SX970_V1___.jpg"
              class="d-block w-100" alt="..." style="height: 500px;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <hr>


    <h1 style="text-align: center;">IMPONE MODA con los nuevos y exclusivos calzados:
      <h3 style="text-align: center;">Busca mas en nuestro catalogo "TACONES PARA DAMAS"</h3>
    </h1>
    <div class="container-fluid m-0 row p-4">
      <div class="col-6 row p-4 m-0" style="background: #e3f2fd;">
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/61TqGwelaFL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/81VFGPlupyL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/81PoJgKy6eL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/71DU51jVwlL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
      </div>
      <div class="col-6 row p-4 m-0">
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/71DLSPuZ2rL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6  p-0"><img src="https://m.media-amazon.com/images/I/71m9lCgy46L._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/81FRKR2a+tL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6  p-0"><img src="https://m.media-amazon.com/images/I/81L1FIoLv7L._AC_SY695_.jpg" alt=""
            class="w-100 h-100"></div>
      </div>
    </div>
    <div class="container-fluid p-4 m-0 row">
      <div class="col-6 row p-4 m-0">
        <div><img
            src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/703486ea-0aa1-46d1-8b51-c07f0a6aab45.__CR0,0,362,453_PT0_SX362_V1___.jpg"
            alt="" class="w-100 h-100" style="border: solid;"></div>
      </div>
      <div class="col-6 row p-4 m-0" style="background: #e3f2fd;">
        <div class="col-6 p-0"><img src="https://m.media-amazon.com/images/I/61LgZYqfo5L._AC_SY675_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6  p-0"><img src="https://m.media-amazon.com/images/I/615Ll8EuAEL._AC_SY695_.jpg" alt=""
            class="w-100 h-100"></div>
        <div class="col-6 p-0"><img
            src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/d9aff284-bb5c-48ac-a5c8-9ab3cff0c9e8.__CR0,0,362,453_PT0_SX362_V1___.jpg"
            alt="" class="w-100 h-100"></div>
        <div class="col-6  p-0"><img src="https://m.media-amazon.com/images/I/61XMhsjU1mL._AC_SY500_.jpg" alt=""
            class="w-100 h-100"></div>
      </div>
    </div>

    <div class="list-group col-2 m-3">
      <a href="PAG/categorias.html"
        class="list-group-item list-group-item-action list-group-item-primary text-center">Ver mucho más</a>
    </div>
    <hr>
    <footer class=" text-white pt-5 pb-4" style="background: #e3f2fd;">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="color: black;">
            <h5 class="text-uppercase mb-4 font-weight-bold"><a
                href="https://www.google.com/maps/place/Av.+San+Mart%C3%ADn+260,+Huanta+05121/@-12.9417167,-74.2468564,20.75z/data=!4m5!3m4!1s0x910d824756a77dd5:0x4ab3b81cc9649054!8m2!3d-12.9408639!4d-74.2476821?entry=ttu"><img
                  src="../IMG/ubicacion.png" alt="" height="40"></a>Ubicación:"Av. San Martin"</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="color: black;">
            <h5 class="text-uppercase mb-4 font-weight-bold"><a href=""><img src="IMG/telefono.png" alt=""
                  height="40"></a>Teléfono (066)342223</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 style=" style="color: black;">
            <h5 class="text-uppercase mb-4 font-weight-bold"><a href="PAG/contactanos.html"><img src="IMG/libro.png"
                  alt="" width="40"></a>Libro de Reclamos</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 style=" style="color: black;">
            <h5 class="text-uppercase mb-4 font-weight-bold"><a href="PAG/nosotros.html"><img src="IMG/nosotros.png"
                  alt="" width="40"></a>Nosotros</h5>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 style=" style="color: black;">
            <h5>SIGUENOS</h5>
            <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr"><img src="IMG/fb.png" alt="" width="50px"
                height="50px"></a>
            <a href="https://web.whatsapp.com/"><img src="IMG/whatssap.png" alt="" width="50px" height="50px"></a>
            <a
              href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2F&hl=es-es&aa_click=8891933284028179"><img
                src="IMG/insta.png" alt="" width="50px" height="50px"></a>
          </div>
        </div>
        <hr class="mb-4">
      </div>
    </footer>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>